this is first

In [2]:
9+9

18

In [4]:
print('hello')

hello

In [3]:
import pandas as pd

In [7]:
print("pd")

pd

In [5]:
df = pd.read_csv(r"C:\Users\dilee\OneDrive\Documents\Data Analyst Project for grocery dataset\week1 excel sheet\raw grocery data.csv")

In [ ]:
df1 = pd.read_csv(

In [7]:
df.head()

   Member_number        Date   itemDescription
0           1808   7/21/2015    tropical fruit
1           2552    1/5/2015        whole milk
2           2300   9/19/2015         pip fruit
3           1187  12/12/2015  other vegetables
4           3037    2/1/2015        whole milk

In [15]:
df.tail()

       Member_number        Date        itemDescription
38760           4471   10/8/2014          sliced cheese
38761           2022   2/23/2014                  candy
38762           1097   4/16/2014               cake bar
38763           1510   12/3/2014  fruit/vegetable juice
38764           1521  12/26/2014               cat food

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38765 entries, 0 to 38764
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Member_number    38765 non-null  int64
 1   Date             38765 non-null  object
 2   itemDescription  38765 non-null  object
dtypes: int64(1), object(2)
memory usage: 908.7+ KB

In [32]:
null_members = df[df['member_number'].isnull()]

KeyError: 'member_number'

In [17]:
print(df.columns)

Index(['Member_number', 'Date', 'itemDescription'], dtype='object')

In [19]:
null_members = df[df['Member_number'].isnull()]

In [38]:
df['Member_number'].isnull().sum()

0

In [40]:
df[df['Member_number'].isnull()]

Empty DataFrame
Columns: [Member_number, Date, itemDescription]
Index: []

In [42]:
df.shape

(38765, 3)

In [21]:
print(df)

       Member_number        Date        itemDescription
0               1808   7/21/2015         tropical fruit
1               2552    1/5/2015             whole milk
2               2300   9/19/2015              pip fruit
3               1187  12/12/2015       other vegetables
4               3037    2/1/2015             whole milk
...              ...         ...                    ...
38760           4471   10/8/2014          sliced cheese
38761           2022   2/23/2014                  candy
38762           1097   4/16/2014               cake bar
38763           1510   12/3/2014  fruit/vegetable juice
38764           1521  12/26/2014               cat food

[38765 rows x 3 columns]

In [23]:
print(df)

       Member_number        Date        itemDescription
0               1808   7/21/2015         tropical fruit
1               2552    1/5/2015             whole milk
2               2300   9/19/2015              pip fruit
3               1187  12/12/2015       other vegetables
4               3037    2/1/2015             whole milk
...              ...         ...                    ...
38760           4471   10/8/2014          sliced cheese
38761           2022   2/23/2014                  candy
38762           1097   4/16/2014               cake bar
38763           1510   12/3/2014  fruit/vegetable juice
38764           1521  12/26/2014               cat food

[38765 rows x 3 columns]

In [50]:
pd.set_option('display.max_rows', 10)  # Show all rows
pd.set_option('display.max_columns', 10)  # Show all columns
print(df)

       Member_number        Date        itemDescription
0               1808  21-07-2015         tropical fruit
1               2552  05-01-2015             whole milk
2               2300  19-09-2015              pip fruit
3               1187  12-12-2015       other vegetables
4               3037  01-02-2015             whole milk
...              ...         ...                    ...
38760           4471  08-10-2014          sliced cheese
38761           2022  23-02-2014                  candy
38762           1097  16-04-2014               cake bar
38763           1510  03-12-2014  fruit/vegetable juice
38764           1521  26-12-2014               cat food

[38765 rows x 3 columns]

In [52]:
pd.set_option('display.max_itemdescription')

ValueError: Must provide an even number of non-keyword arguments

In [54]:
print('itemdescription')

itemdescription

In [56]:
selected_columns = df[['itemdescription', 'purchase date']]
print(selected_columns)

KeyError: "None of [Index(['itemdescription', 'purchase date'], dtype='object')] are in the [columns]"

In [67]:
# Assuming 'itemdescription' is the column name
most_frequent_item = df['itemDescription'].value_counts().idxmax()
print("Most frequent itemDescription:", most_frequent_item)

Most frequent itemDescription: whole milk

In [69]:
# Get the most frequent itemdescription and its count
item_counts = df['itemDescription'].value_counts()
most_frequent_item = item_counts.idxmax()
frequency = item_counts.max()
print("Most frequent itemDescription:", most_frequent_item)
print("Frequency:", frequency)

Most frequent itemDescription: whole milk
Frequency: 2502

In [79]:
# Assuming 'itemdescription' is the column name
most_frequent_item = df['Member_number'].value_counts().idxmax()
print("Most frequent Member_number:", most_frequent_item)

Most frequent Member_number: 3180

In [85]:
most_frequent_item = df['Date'].value_counts().idxmax()
print("most frequent Date:",most_frequent_item)

most frequent Date: 21-01-2015

In [87]:
df.tail()

       Member_number        Date        itemDescription
38760           4471  08-10-2014          sliced cheese
38761           2022  23-02-2014                  candy
38762           1097  16-04-2014               cake bar
38763           1510  03-12-2014  fruit/vegetable juice
38764           1521  26-12-2014               cat food

In [55]:
df['Date'] = pd.to_datetime(df['Date'], dayfirst = True)

In [57]:
df.tail()

       Member_number       Date        itemDescription
38760           4471 2014-10-08          sliced cheese
38761           2022 2014-02-23                  candy
38762           1097 2014-04-16               cake bar
38763           1510 2014-12-03  fruit/vegetable juice
38764           1521 2014-12-26               cat food

In [25]:
df['Day'] = df['Date'].dt.day

AttributeError: Can only use .dt accessor with datetimelike values

In [27]:
print(df)

       Member_number        Date        itemDescription
0               1808   7/21/2015         tropical fruit
1               2552    1/5/2015             whole milk
2               2300   9/19/2015              pip fruit
3               1187  12/12/2015       other vegetables
4               3037    2/1/2015             whole milk
...              ...         ...                    ...
38760           4471   10/8/2014          sliced cheese
38761           2022   2/23/2014                  candy
38762           1097   4/16/2014               cake bar
38763           1510   12/3/2014  fruit/vegetable juice
38764           1521  12/26/2014               cat food

[38765 rows x 3 columns]

In [29]:
df['month'] = df['Date'].dt.month

AttributeError: Can only use .dt accessor with datetimelike values

In [103]:
print(df)

       Member_number       Date        itemDescription  Day  month
0               1808 2015-07-21         tropical fruit   21      7
1               2552 2015-01-05             whole milk    5      1
2               2300 2015-09-19              pip fruit   19      9
3               1187 2015-12-12       other vegetables   12     12
4               3037 2015-02-01             whole milk    1      2
...              ...        ...                    ...  ...    ...
38760           4471 2014-10-08          sliced cheese    8     10
38761           2022 2014-02-23                  candy   23      2
38762           1097 2014-04-16               cake bar   16      4
38763           1510 2014-12-03  fruit/vegetable juice    3     12
38764           1521 2014-12-26               cat food   26     12

[38765 rows x 5 columns]

In [31]:
df['year'] = df['Date'].dt.year

AttributeError: Can only use .dt accessor with datetimelike values

In [107]:
print(df)

       Member_number       Date        itemDescription  Day  month  year
0               1808 2015-07-21         tropical fruit   21      7  2015
1               2552 2015-01-05             whole milk    5      1  2015
2               2300 2015-09-19              pip fruit   19      9  2015
3               1187 2015-12-12       other vegetables   12     12  2015
4               3037 2015-02-01             whole milk    1      2  2015
...              ...        ...                    ...  ...    ...   ...
38760           4471 2014-10-08          sliced cheese    8     10  2014
38761           2022 2014-02-23                  candy   23      2  2014
38762           1097 2014-04-16               cake bar   16      4  2014
38763           1510 2014-12-03  fruit/vegetable juice    3     12  2014
38764           1521 2014-12-26               cat food   26     12  2014

[38765 rows x 6 columns]

In [33]:
# Function to map dates to seasons
def get_season(date):
    month = date.month
    day = date.day
    
    # Ensure proper indentation for each conditional block
    if (month == 3 and day >= 20) or (month in [4, 5]) or (month == 6 and day < 21):
        return 'Spring'  # This line needs to be indented
    elif (month == 6 and day >= 21) or (month in [7, 8]) or (month == 9 and day < 23):
        return 'Summer'  # Indented as well
    elif (month == 9 and day >= 23) or (month in [10, 11]) or (month == 12 and day < 21):
        return 'Autumn'  # Indented
    else:
        return 'Winter'  # Indented

In [35]:
print(df)

       Member_number        Date        itemDescription
0               1808   7/21/2015         tropical fruit
1               2552    1/5/2015             whole milk
2               2300   9/19/2015              pip fruit
3               1187  12/12/2015       other vegetables
4               3037    2/1/2015             whole milk
...              ...         ...                    ...
38760           4471   10/8/2014          sliced cheese
38761           2022   2/23/2014                  candy
38762           1097   4/16/2014               cake bar
38763           1510   12/3/2014  fruit/vegetable juice
38764           1521  12/26/2014               cat food

[38765 rows x 3 columns]

In [39]:
print(df[['Date', 'Season']])

KeyError: "['Season'] not in index"

In [41]:
df['season'] = df['Date'].apply(get_season)

AttributeError: 'str' object has no attribute 'month'

In [121]:
print(df)

       Member_number       Date        itemDescription  Day  month  year  \
0               1808 2015-07-21         tropical fruit   21      7  2015
1               2552 2015-01-05             whole milk    5      1  2015
2               2300 2015-09-19              pip fruit   19      9  2015
3               1187 2015-12-12       other vegetables   12     12  2015
4               3037 2015-02-01             whole milk    1      2  2015
...              ...        ...                    ...  ...    ...   ...
38760           4471 2014-10-08          sliced cheese    8     10  2014
38761           2022 2014-02-23                  candy   23      2  2014
38762           1097 2014-04-16               cake bar   16      4  2014
38763           1510 2014-12-03  fruit/vegetable juice    3     12  2014
38764           1521 2014-12-26               cat food   26     12  2014

       season
0      Summer
1      Winter
2      Summer
3      Autumn
4      Winter
...       ...
38760  Autumn
38761  Winter
38762  Spring
38763  Autumn
38764  Winter

[38765 rows x 7 columns]

In [125]:
season_sales = df.groupby('season')['itemdescription'].count().reset_index()

KeyError: 'Column not found: itemdescription'

In [127]:
print(season_sales)

NameError: name 'season_sales' is not defined

In [43]:
# Group by 'season' and 'itemdescription' and get the count of items sold
season_sales = df.groupby('season')['itemDescription'].count().reset_index()

# Sort the result to get the season with the max items sold
max_season = season_sales.sort_values(by='itemDescription', ascending=False).iloc[0]

print(f"The season with the maximum items sold is {max_season['season']} with {max_season['itemDescription']} items sold.")

KeyError: 'season'

In [135]:
month_sales = df.groupby('month')['itemDescription'].count().reset_index()
max_month = month_sales.sort_values(by='itemDescription',ascending=False).iloc[0]
print(f"The month with the maximum items sold is {max_month['month']} with {max_month['itemDescription']} items sold.")

The month with the maximum items sold is 8 with 3496 items sold.

In [141]:
Day_sales = df.groupby('Day')['itemDescription'].count().reset_index()
max_Day = Day_sales.sort_values(by='itemDescription',ascending=False).iloc[0]
print(f"The Day with the maximum items sold is {max_Day['Day']} with {max_Day['itemDescription']} items sold.")

The Day with the maximum items sold is 3 with 1393 items sold.

In [53]:
print(df)

       Member_number        Date        itemDescription
0               1808  21-07-2015         tropical fruit
1               2552  05-01-2015             whole milk
2               2300  19-09-2015              pip fruit
3               1187  12-12-2015       other vegetables
4               3037  01-02-2015             whole milk
...              ...         ...                    ...
38760           4471  08-10-2014          sliced cheese
38761           2022  23-02-2014                  candy
38762           1097  16-04-2014               cake bar
38763           1510  03-12-2014  fruit/vegetable juice
38764           1521  26-12-2014               cat food

[38765 rows x 3 columns]

In [89]:
year_sales = df.groupby('year')['itemDescription'].count().reset_index()
max_year = year_sales.nlargest(1, 'itemDescription')
print(f"The year with the maximum items sold is {max_year['year']} with {max_year['itemDescription']} items sold.")

KeyError: 'year'

In [154]:
import os
os.getcwd()

'C:\\Users\\dilee'

In [91]:
print('df')

df

In [31]:
print('head')

head

In [33]:
import pandas as pd

In [35]:
print('pd')

pd

In [37]:
print(df)

       Member_number        Date        itemDescription
0               1808  21-07-2015         tropical fruit
1               2552  05-01-2015             whole milk
2               2300  19-09-2015              pip fruit
3               1187  12-12-2015       other vegetables
4               3037  01-02-2015             whole milk
...              ...         ...                    ...
38760           4471  08-10-2014          sliced cheese
38761           2022  23-02-2014                  candy
38762           1097  16-04-2014               cake bar
38763           1510  03-12-2014  fruit/vegetable juice
38764           1521  26-12-2014               cat food

[38765 rows x 3 columns]

In [45]:
df.tail()

       Member_number        Date        itemDescription
38760           4471  08-10-2014          sliced cheese
38761           2022  23-02-2014                  candy
38762           1097  16-04-2014               cake bar
38763           1510  03-12-2014  fruit/vegetable juice
38764           1521  26-12-2014               cat food

In [43]:
Member_number_sales = df.groupby('Member_number')['itemDescription'].count().reset_index()
max_Member_number = Member_number_sales.nlargest(1, 'itemDescription')
print(f"The member_number with the maximum items sold is {max_Member_number['Member_number']} with {max_Member_number['itemDescription']} items sold.")

The member_number with the maximum items sold is 2120    3180
Name: Member_number, dtype: int64 with 2120    36
Name: itemDescription, dtype: int64 items sold.

In [49]:
Member_number_sales = df.groupby('Member_number')['itemDescription'].count().reset_index()
max_Member_number = Member_number_sales.nlargest(1, 'itemDescription')

# Extracting values directly
member_number = max_Member_number.iloc[0]['Member_number']
item_count = max_Member_number.iloc[0]['itemDescription']

print(f"The member_number with the maximum items buy is {member_number} with {item_count} items.")

The member_number with the maximum items buy is 3180 with 36 items.

In [51]:
print(df)

       Member_number        Date        itemDescription
0               1808  21-07-2015         tropical fruit
1               2552  05-01-2015             whole milk
2               2300  19-09-2015              pip fruit
3               1187  12-12-2015       other vegetables
4               3037  01-02-2015             whole milk
...              ...         ...                    ...
38760           4471  08-10-2014          sliced cheese
38761           2022  23-02-2014                  candy
38762           1097  16-04-2014               cake bar
38763           1510  03-12-2014  fruit/vegetable juice
38764           1521  26-12-2014               cat food

[38765 rows x 3 columns]

In [53]:
df['Day'] = df['Date'].dt.day

In [55]:
print(df)

       Member_number       Date        itemDescription  Day
0               1808 2015-07-21         tropical fruit   21
1               2552 2015-01-05             whole milk    5
2               2300 2015-09-19              pip fruit   19
3               1187 2015-12-12       other vegetables   12
4               3037 2015-02-01             whole milk    1
...              ...        ...                    ...  ...
38760           4471 2014-10-08          sliced cheese    8
38761           2022 2014-02-23                  candy   23
38762           1097 2014-04-16               cake bar   16
38763           1510 2014-12-03  fruit/vegetable juice    3
38764           1521 2014-12-26               cat food   26

[38765 rows x 4 columns]

In [57]:
df['day_name'] = df['Date'].dt.day_name()

In [59]:
print(df)

       Member_number       Date        itemDescription  Day   day_name
0               1808 2015-07-21         tropical fruit   21    Tuesday
1               2552 2015-01-05             whole milk    5     Monday
2               2300 2015-09-19              pip fruit   19   Saturday
3               1187 2015-12-12       other vegetables   12   Saturday
4               3037 2015-02-01             whole milk    1     Sunday
...              ...        ...                    ...  ...        ...
38760           4471 2014-10-08          sliced cheese    8  Wednesday
38761           2022 2014-02-23                  candy   23     Sunday
38762           1097 2014-04-16               cake bar   16  Wednesday
38763           1510 2014-12-03  fruit/vegetable juice    3  Wednesday
38764           1521 2014-12-26               cat food   26     Friday

[38765 rows x 5 columns]

In [75]:
unique_record_count = df.drop_duplicates().shape[0]
print(f"Number of unique records: {unique_record_count}")

Number of unique records: 38006

In [77]:
# Select unique combinations of 'Member_number' and 'itemDescription'
unique_data = df[['Member_number', 'itemDescription']].drop_duplicates()

print(unique_data)

       Member_number        itemDescription
0               1808         tropical fruit
1               2552             whole milk
2               2300              pip fruit
3               1187       other vegetables
4               3037             whole milk
...              ...                    ...
38760           4471          sliced cheese
38761           2022                  candy
38762           1097               cake bar
38763           1510  fruit/vegetable juice
38764           1521               cat food

[34766 rows x 2 columns]

In [79]:
# Group by 'Member_number' and 'itemDescription' to get unique counts
unique_counts = df.groupby(['Member_number', 'itemDescription']).size().reset_index(name='count')

print(unique_counts)

       Member_number      itemDescription  count
0               1000          canned beer      1
1               1000     hygiene articles      1
2               1000      misc. beverages      1
3               1000               pastry      1
4               1000   pickled vegetables      1
...              ...                  ...    ...
34761           5000               onions      1
34762           5000     other vegetables      1
34763           5000      root vegetables      1
34764           5000  semi-finished bread      1
34765           5000                 soda      1

[34766 rows x 3 columns]

In [81]:
# Count unique records based on 'Member_number' and 'itemDescription'
unique_record_count = df.drop_duplicates(subset=['Member_number', 'itemDescription']).shape[0]
print(f"Number of unique records: {unique_record_count}")

Number of unique records: 34766

In [83]:
# Remove leading/trailing whitespace and drop duplicates for accurate count
unique_record_count = (
    df[['Member_number', 'itemDescription']]
    .apply(lambda x: x.str.strip() if x.dtype == "object" else x)
    .drop_duplicates()
    .shape[0]
)

print(f"Number of unique records: {unique_record_count}")

Number of unique records: 34766

In [61]:
print(df)

       Member_number       Date        itemDescription  Day   day_name
0               1808 2015-07-21         tropical fruit   21    Tuesday
1               2552 2015-01-05             whole milk    5     Monday
2               2300 2015-09-19              pip fruit   19   Saturday
3               1187 2015-12-12       other vegetables   12   Saturday
4               3037 2015-02-01             whole milk    1     Sunday
...              ...        ...                    ...  ...        ...
38760           4471 2014-10-08          sliced cheese    8  Wednesday
38761           2022 2014-02-23                  candy   23     Sunday
38762           1097 2014-04-16               cake bar   16  Wednesday
38763           1510 2014-12-03  fruit/vegetable juice    3  Wednesday
38764           1521 2014-12-26               cat food   26     Friday

[38765 rows x 5 columns]

In [87]:
month_sales = df.groupby('month')['itemDescription'].count().reset_index()
max_month = month_sales.sort_values(by='itemDescription',ascending=False).iloc[0]
print(f"The month with the maximum items sold is {max_month['month']} with {max_month['itemDescription']} items sold.")

KeyError: 'month'

In [101]:
df.head()

   Member_number       Date   itemDescription  Day  dayofweek  day_name  year
0           1808 2015-07-21    tropical fruit   21          1   Tuesday  2015
1           2552 2015-01-05        whole milk    5          0    Monday  2015
2           2300 2015-09-19         pip fruit   19          5  Saturday  2015
3           1187 2015-12-12  other vegetables   12          5  Saturday  2015
4           3037 2015-02-01        whole milk    1          6    Sunday  2015

In [103]:
df.tail()

,Member_number,Date,itemDescription,Day,dayofweek,day_name,year
38760,4471,2014-10-08,sliced cheese,8,2,Wednesday,2014
38761,2022,2014-02-23,candy,23,6,Sunday,2014
38762,1097,2014-04-16,cake bar,16,2,Wednesday,2014
38763,1510,2014-12-03,fruit/vegetable juice,3,2,Wednesday,2014
38764,1521,2014-12-26,cat food,26,4,Friday,2014

In [63]:
df['month'] = df['Date'].dt.month

In [107]:
print(df)

       Member_number       Date        itemDescription  Day  dayofweek  \
0               1808 2015-07-21         tropical fruit   21          1
1               2552 2015-01-05             whole milk    5          0
2               2300 2015-09-19              pip fruit   19          5
3               1187 2015-12-12       other vegetables   12          5
4               3037 2015-02-01             whole milk    1          6
...              ...        ...                    ...  ...        ...
38760           4471 2014-10-08          sliced cheese    8          2
38761           2022 2014-02-23                  candy   23          6
38762           1097 2014-04-16               cake bar   16          2
38763           1510 2014-12-03  fruit/vegetable juice    3          2
38764           1521 2014-12-26               cat food   26          4

        day_name  year  month
0        Tuesday  2015      7
1         Monday  2015      1
2       Saturday  2015      9
3       Saturday  2015     12
4         Sunday  2015      2
...          ...   ...    ...
38760  Wednesday  2014     10
38761     Sunday  2014      2
38762  Wednesday  2014      4
38763  Wednesday  2014     12
38764     Friday  2014     12

[38765 rows x 8 columns]

In [65]:
df['season'] = df['Date'].apply(get_season)

In [69]:
print(df)

       Member_number       Date        itemDescription  Day   day_name  month  \
0               1808 2015-07-21         tropical fruit   21    Tuesday      7
1               2552 2015-01-05             whole milk    5     Monday      1
2               2300 2015-09-19              pip fruit   19   Saturday      9
3               1187 2015-12-12       other vegetables   12   Saturday     12
4               3037 2015-02-01             whole milk    1     Sunday      2
...              ...        ...                    ...  ...        ...    ...
38760           4471 2014-10-08          sliced cheese    8  Wednesday     10
38761           2022 2014-02-23                  candy   23     Sunday      2
38762           1097 2014-04-16               cake bar   16  Wednesday      4
38763           1510 2014-12-03  fruit/vegetable juice    3  Wednesday     12
38764           1521 2014-12-26               cat food   26     Friday     12

       season
0      Summer
1      Winter
2      Summer
3      Autumn
4      Winter
...       ...
38760  Autumn
38761  Winter
38762  Spring
38763  Autumn
38764  Winter

[38765 rows x 7 columns]

In [113]:
del df['dayofweek']

In [71]:
print(df)

       Member_number       Date        itemDescription  Day   day_name  month  \
0               1808 2015-07-21         tropical fruit   21    Tuesday      7
1               2552 2015-01-05             whole milk    5     Monday      1
2               2300 2015-09-19              pip fruit   19   Saturday      9
3               1187 2015-12-12       other vegetables   12   Saturday     12
4               3037 2015-02-01             whole milk    1     Sunday      2
...              ...        ...                    ...  ...        ...    ...
38760           4471 2014-10-08          sliced cheese    8  Wednesday     10
38761           2022 2014-02-23                  candy   23     Sunday      2
38762           1097 2014-04-16               cake bar   16  Wednesday      4
38763           1510 2014-12-03  fruit/vegetable juice    3  Wednesday     12
38764           1521 2014-12-26               cat food   26     Friday     12

       season
0      Summer
1      Winter
2      Summer
3      Autumn
4      Winter
...       ...
38760  Autumn
38761  Winter
38762  Spring
38763  Autumn
38764  Winter

[38765 rows x 7 columns]

In [117]:
df['country'] = 'usa'

In [119]:
print(df)

       Member_number       Date        itemDescription  Day   day_name  year  \
0               1808 2015-07-21         tropical fruit   21    Tuesday  2015
1               2552 2015-01-05             whole milk    5     Monday  2015
2               2300 2015-09-19              pip fruit   19   Saturday  2015
3               1187 2015-12-12       other vegetables   12   Saturday  2015
4               3037 2015-02-01             whole milk    1     Sunday  2015
...              ...        ...                    ...  ...        ...   ...
38760           4471 2014-10-08          sliced cheese    8  Wednesday  2014
38761           2022 2014-02-23                  candy   23     Sunday  2014
38762           1097 2014-04-16               cake bar   16  Wednesday  2014
38763           1510 2014-12-03  fruit/vegetable juice    3  Wednesday  2014
38764           1521 2014-12-26               cat food   26     Friday  2014

       month  season country
0          7  Summer     usa
1          1  Winter     usa
2          9  Summer     usa
3         12  Autumn     usa
4          2  Winter     usa
...      ...     ...     ...
38760     10  Autumn     usa
38761      2  Winter     usa
38762      4  Spring     usa
38763     12  Autumn     usa
38764     12  Winter     usa

[38765 rows x 9 columns]

In [121]:
del df['country']

In [123]:
print(df)

       Member_number       Date        itemDescription  Day   day_name  year  \
0               1808 2015-07-21         tropical fruit   21    Tuesday  2015
1               2552 2015-01-05             whole milk    5     Monday  2015
2               2300 2015-09-19              pip fruit   19   Saturday  2015
3               1187 2015-12-12       other vegetables   12   Saturday  2015
4               3037 2015-02-01             whole milk    1     Sunday  2015
...              ...        ...                    ...  ...        ...   ...
38760           4471 2014-10-08          sliced cheese    8  Wednesday  2014
38761           2022 2014-02-23                  candy   23     Sunday  2014
38762           1097 2014-04-16               cake bar   16  Wednesday  2014
38763           1510 2014-12-03  fruit/vegetable juice    3  Wednesday  2014
38764           1521 2014-12-26               cat food   26     Friday  2014

       month  season
0          7  Summer
1          1  Winter
2          9  Summer
3         12  Autumn
4          2  Winter
...      ...     ...
38760     10  Autumn
38761      2  Winter
38762      4  Spring
38763     12  Autumn
38764     12  Winter

[38765 rows x 8 columns]

In [73]:
df['Date'] = pd.to_datetime(df['Date'])

In [93]:
print(df)

       Member_number       Date        itemDescription  Day   day_name  month  \
0               1808 2015-07-21         tropical fruit   21    Tuesday      7
1               2552 2015-01-05             whole milk    5     Monday      1
2               2300 2015-09-19              pip fruit   19   Saturday      9
3               1187 2015-12-12       other vegetables   12   Saturday     12
4               3037 2015-02-01             whole milk    1     Sunday      2
...              ...        ...                    ...  ...        ...    ...
38760           4471 2014-10-08          sliced cheese    8  Wednesday     10
38761           2022 2014-02-23                  candy   23     Sunday      2
38762           1097 2014-04-16               cake bar   16  Wednesday      4
38763           1510 2014-12-03  fruit/vegetable juice    3  Wednesday     12
38764           1521 2014-12-26               cat food   26     Friday     12

       season
0      Summer
1      Winter
2      Summer
3      Autumn
4      Winter
...       ...
38760  Autumn
38761  Winter
38762  Spring
38763  Autumn
38764  Winter

[38765 rows x 7 columns]

In [95]:
df['Year'] = df['Date'].dt.day

In [97]:
print(df)

       Member_number       Date        itemDescription  Day   day_name  month  \
0               1808 2015-07-21         tropical fruit   21    Tuesday      7
1               2552 2015-01-05             whole milk    5     Monday      1
2               2300 2015-09-19              pip fruit   19   Saturday      9
3               1187 2015-12-12       other vegetables   12   Saturday     12
4               3037 2015-02-01             whole milk    1     Sunday      2
...              ...        ...                    ...  ...        ...    ...
38760           4471 2014-10-08          sliced cheese    8  Wednesday     10
38761           2022 2014-02-23                  candy   23     Sunday      2
38762           1097 2014-04-16               cake bar   16  Wednesday      4
38763           1510 2014-12-03  fruit/vegetable juice    3  Wednesday     12
38764           1521 2014-12-26               cat food   26     Friday     12

       season  Year
0      Summer    21
1      Winter     5
2      Summer    19
3      Autumn    12
4      Winter     1
...       ...   ...
38760  Autumn     8
38761  Winter    23
38762  Spring    16
38763  Autumn     3
38764  Winter    26

[38765 rows x 8 columns]

In [129]:
df.details()

AttributeError: 'DataFrame' object has no attribute 'details'

In [99]:
df.describe()

,Member_number,Date,Day,month,Year
count,38765.000000,38765,38765.000000,38765.000000,38765.000000
mean,3003.641868,2015-01-09 18:17:12.498387712,15.743196,6.487605,15.743196
min,1000.000000,2014-01-01 00:00:00,1.000000,1.000000,1.000000
25%,2002.000000,2014-07-12 00:00:00,8.000000,4.000000,8.000000
50%,3005.000000,2015-01-21 00:00:00,16.000000,6.000000,16.000000
75%,4007.000000,2015-07-10 00:00:00,23.000000,9.000000,23.000000
max,5000.000000,2015-12-30 00:00:00,31.000000,12.000000,31.000000
std,1153.611031,NaN,8.816814,3.419042,8.816814

In [133]:
df..fillna()

SyntaxError: invalid syntax (1540984007.py, line 1)

In [135]:
.fillna()

SyntaxError: invalid syntax (1827220684.py, line 1)

In [137]:
month_sales = df.groupby('month')['itemDescription'].count().reset_index()
max_month = month_sales.sort_values(by='itemDescription',ascending=False).iloc[0]
print(f"The month with the maximum items sold is {max_month['month']} with {max_month['itemDescription']} items sold.")

The month with the maximum items sold is 8 with 3496 items sold.

In [139]:
Day_sales = df.groupby('Day')['itemDescription'].count().reset_index()
max_Day = Day_sales.sort_values(by='itemDescription',ascending=False).iloc[0]
print(f"The Day with the maximum items sold is {max_Day['Day']} with {max_Day['itemDescription']} items sold.")

The Day with the maximum items sold is 3 with 1393 items sold.

In [141]:
# Filter the DataFrame for the year 2014
df_2014 = df[df['year'] == 2014]

# Group by 'year' and count 'itemDescription'
year_sales_2014 = df_2014.groupby('year')['itemDescription'].count().reset_index()

# Since there's only 2014 in the filtered data, it will return only that year's count
print(f"The total items sold in 2014 is {year_sales_2014.iloc[0]['itemDescription']}")

The total items sold in 2014 is 18277

In [145]:
import pandas as pd

# Assuming your DataFrame is named df
# Step 1: Filter for the year 2014
df_2014 = df[df['year'] == 2014]

# Step 2: Group by 'itemDescription' and count occurrences
item_counts = df_2014['itemDescription'].value_counts().reset_index()
item_counts.columns = ['itemDescription', 'ITEM_COUNT']

# Step 3: Get the item with the highest count
top_item = item_counts.nlargest(1, 'ITEM_COUNT')

# Print the result
print(f"The item with the highest sales in 2014 is {top_item.iloc[0]['itemDescription']} with {top_item.iloc[0]['ITEM_COUNT']} sales.")

The item with the highest sales in 2014 is whole milk with 1038 sales.

In [149]:
import pandas as pd

# Assuming your DataFrame is named df
# Step 1: Filter for the year 2015
df_2015 = df[df['year'] == 2015]

# Step 2: Group by 'itemDescription' and count occurrences
item_counts = df_2015['itemDescription'].value_counts().reset_index()
item_counts.columns = ['itemDescription', 'ITEM_COUNT']

# Step 3: Get the item with the highest count
top_item = item_counts.nlargest(1, 'ITEM_COUNT')

# Print the result
print(f"The item with the highest sales in 2015 is {top_item.iloc[0]['itemDescription']} with {top_item.iloc[0]['ITEM_COUNT']} sales.")

The item with the highest sales in 2014 is whole milk with 1464 sales.

In [151]:
Member_number_sales = df.groupby('Member_number')['itemDescription'].count().reset_index()
max_Member_number = Member_number_sales.nlargest(1, 'itemDescription')
print(f"The member_number with the maximum items sold is {max_Member_number['Member_number']} with {max_Member_number['itemDescription']} items sold.")

The member_number with the maximum items sold is 2120    3180
Name: Member_number, dtype: int64 with 2120    36
Name: itemDescription, dtype: int64 items sold.

In [161]:
import pandas as pd

# Assuming df is your DataFrame
# Group by 'member_number' and count the occurrences
Member_number_sales = df.groupby('Member_number')['itemDescription'].count().reset_index()

# Sort by 'item_count' (the count of items sold) in descending order
Member_number_sales = Member_number_sales.sort_values(by='itemDescription', ascending=False)

# Select the top row (the member with the most items sold)
top_Member = Member_number_sales.iloc[0]

# Print the result
print(f"The member_number with the maximum items sold is {top_Member['Member_number']} with {top_Member['itemDescription']} items sold.")

The member_number with the maximum items sold is 3180 with 36 items sold.

In [103]:
print(df)

       Member_number       Date        itemDescription  Day   day_name  month  \
0               1808 2015-07-21         tropical fruit   21    Tuesday      7
1               2552 2015-01-05             whole milk    5     Monday      1
2               2300 2015-09-19              pip fruit   19   Saturday      9
3               1187 2015-12-12       other vegetables   12   Saturday     12
4               3037 2015-02-01             whole milk    1     Sunday      2
...              ...        ...                    ...  ...        ...    ...
38760           4471 2014-10-08          sliced cheese    8  Wednesday     10
38761           2022 2014-02-23                  candy   23     Sunday      2
38762           1097 2014-04-16               cake bar   16  Wednesday      4
38763           1510 2014-12-03  fruit/vegetable juice    3  Wednesday     12
38764           1521 2014-12-26               cat food   26     Friday     12

       season  Year
0      Summer    21
1      Winter     5
2      Summer    19
3      Autumn    12
4      Winter     1
...       ...   ...
38760  Autumn     8
38761  Winter    23
38762  Spring    16
38763  Autumn     3
38764  Winter    26

[38765 rows x 8 columns]

In [165]:
import pandas as pd

# Assuming df is your DataFrame

# Group by 'purchase season' and count the occurrences of 'itemdescription'
season_sales = df.groupby('season')['itemDescription'].count().reset_index()

# Sort by 'item_count' (the count of items sold in each season) in descending order
season_sales = season_sales.sort_values(by='itemDescription', ascending=False)

# Select the top row (the season with the most items sold)
top_season = season_sales.iloc[0]

# Print the result
print(f"The season with the maximum items sold is {top_season['season']} with {top_season['itemDescription']} items sold.")

The season with the maximum items sold is Summer with 10109 items sold.

In [167]:
import pandas as pd

# Assuming df is your DataFrame

# Group by 'purchase dow' and count the occurrences of 'itemdescription'
dow_sales = df.groupby('day_name')['itemDescription'].count().reset_index()

# Sort by 'item_count' (the count of items sold on each day of the week) in descending order
dow_sales = dow_sales.sort_values(by='itemDescription', ascending=False)

# Select the top row (the day of the week with the most items sold)
top_dow = dow_sales.iloc[0]

# Print the result
print(f"The day of the week with the maximum items sold is {top_dow['day_name']} with {top_dow['itemDescription']} items sold.")

The day of the week with the maximum items sold is Thursday with 5620 items sold.

In [21]:
df.tail()

       Member_number        Date        itemDescription
38760           4471  08-10-2014          sliced cheese
38761           2022  23-02-2014                  candy
38762           1097  16-04-2014               cake bar
38763           1510  03-12-2014  fruit/vegetable juice
38764           1521  26-12-2014               cat food

In [27]:
df.tail()

       Member_number        Date        itemDescription
38760           4471  08-10-2014          sliced cheese
38761           2022  23-02-2014                  candy
38762           1097  16-04-2014               cake bar
38763           1510  03-12-2014  fruit/vegetable juice
38764           1521  26-12-2014               cat food

In [47]:
df.head()

   Member_number        Date   itemDescription
0           1808   7/21/2015    tropical fruit
1           2552    1/5/2015        whole milk
2           2300   9/19/2015         pip fruit
3           1187  12/12/2015  other vegetables
4           3037    2/1/2015        whole milk

In [85]:
print(df)

       Member_number       Date        itemDescription  Day   day_name  month  \
0               1808 2015-07-21         tropical fruit   21    Tuesday      7
1               2552 2015-01-05             whole milk    5     Monday      1
2               2300 2015-09-19              pip fruit   19   Saturday      9
3               1187 2015-12-12       other vegetables   12   Saturday     12
4               3037 2015-02-01             whole milk    1     Sunday      2
...              ...        ...                    ...  ...        ...    ...
38760           4471 2014-10-08          sliced cheese    8  Wednesday     10
38761           2022 2014-02-23                  candy   23     Sunday      2
38762           1097 2014-04-16               cake bar   16  Wednesday      4
38763           1510 2014-12-03  fruit/vegetable juice    3  Wednesday     12
38764           1521 2014-12-26               cat food   26     Friday     12

       season
0      Summer
1      Winter
2      Summer
3      Autumn
4      Winter
...       ...
38760  Autumn
38761  Winter
38762  Spring
38763  Autumn
38764  Winter

[38765 rows x 7 columns]

In [87]:
df.head()

   Member_number       Date   itemDescription  Day  day_name  month  season
0           1808 2015-07-21    tropical fruit   21   Tuesday      7  Summer
1           2552 2015-01-05        whole milk    5    Monday      1  Winter
2           2300 2015-09-19         pip fruit   19  Saturday      9  Summer
3           1187 2015-12-12  other vegetables   12  Saturday     12  Autumn
4           3037 2015-02-01        whole milk    1    Sunday      2  Winter

In [91]:
from sqlalchemy import create_engine
import pandas as pd

# Connect to SQL Server using the new database
engine = create_engine(r'mssql+pyodbc://@DILEEP\SQLEXPRESS/grocery data?driver=ODBC+Driver+17+for+SQL+Server&Trusted_Connection=yes')

# Assuming df is your pandas DataFrame
df.to_sql('grocery data', con=engine, index=False)

print("Data written successfully to the new database and table.")

Data written successfully to the new database and table.

In [105]:
print(df)

       Member_number       Date        itemDescription  Day   day_name  month  \
0               1808 2015-07-21         tropical fruit   21    Tuesday      7
1               2552 2015-01-05             whole milk    5     Monday      1
2               2300 2015-09-19              pip fruit   19   Saturday      9
3               1187 2015-12-12       other vegetables   12   Saturday     12
4               3037 2015-02-01             whole milk    1     Sunday      2
...              ...        ...                    ...  ...        ...    ...
38760           4471 2014-10-08          sliced cheese    8  Wednesday     10
38761           2022 2014-02-23                  candy   23     Sunday      2
38762           1097 2014-04-16               cake bar   16  Wednesday      4
38763           1510 2014-12-03  fruit/vegetable juice    3  Wednesday     12
38764           1521 2014-12-26               cat food   26     Friday     12

       season  Year
0      Summer    21
1      Winter     5
2      Summer    19
3      Autumn    12
4      Winter     1
...       ...   ...
38760  Autumn     8
38761  Winter    23
38762  Spring    16
38763  Autumn     3
38764  Winter    26

[38765 rows x 8 columns]

In [107]:
from sqlalchemy import create_engine
import pandas as pd

# Connect to SQL Server using the new database
engine = create_engine(r'mssql+pyodbc://@DILEEP\SQLEXPRESS/grocery data?driver=ODBC+Driver+17+for+SQL+Server&Trusted_Connection=yes')

# Assuming df is your pandas DataFrame
df.to_sql('grocery data', con=engine, index=False)

print("Data written successfully to the new database and table.")

Data written successfully to the new database and table.